
@{
    ViewData["Title"] = "Registration";
}
<h2>@ViewData["Title"]</h2>
<h3>User Registration</h3>

<p>This is the first sentence of a paragraph. This is the second. Blah Blah Blah. More, and more.</p>

<form>
    Email: <input type="text" name="email"/><br>
    Password: <input type="password" name="password" /><br>
    First Name: <input type="text" name="firstname" /><br>
    Last Name: <input type="text" name="lastname" /><br>
    Gender: <input type="radio" name="gender" value="Male" checked> Male
            <input type="radio" name="gender" value="Female"> Female
            <input type="radio" name="gender" value="Other"> Other<br><br/>
    <input type="submit" value="Submit">
</form>
